<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Barlito's Bank {% endblock %}</title>
        {% block stylesheets %}
            <!--Import Google Icon Font-->
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
            <!--Import materialize.css-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
            <div style="margin:20px;">
                <nav>
                  <div class="nav-wrapper teal lighten-2 navbarcustom" style="padding-left:100px">
                    <a href="#!" class="brand-logo">Ma Banque En Ligne </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#"> Bonjour {{ currentClient.prenom }} {{ currentClient.nom }} !</a></li>
                        <li><a href='{{path('fos_user_security_logout')}}'><i class="material-icons left">person</i> Deconnexion </a></li>
                    </ul>
                  </div>
                </nav>
            </div>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <script>
                $(document).ready(function() {
                   $('select').material_select();
                });
            </script>
        {% endblock %}
    </body>

   
</html>
